/* Three-column layout with first column at 550px and other columns splitting remaining width*/

#appbox {
  display: flex;
}

.column {
    float: left;
}

.column:after {
    clear: both;
}

.mapCol {
    composes: column;
    width: 550px;
}

.dataCol {
    composes: column;
    width: calc(50% - 275px);
}

.controlCol {
    composes: column;
    width: calc(50% - 275px);
}

.wifiButtons {
  padding: 10px;
}

.wifiButtons * {
  margin: 3px;
}
